body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    font-size: 18px;
    background-color: #fff;
    line-height: 1.5;
    text-decoration: none;
    color: #434455;
}
ul {
    list-style-type: none;
}
/* h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
} */
/* header */
.logo_accent {
    color: #2e2f42;
}
.logo_link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.nav_link {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.nav_link:hover,
.nav_link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.adres {
    font-style: normal;
}
.adres_link {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    text-decoration: none;
}
.adres_link:hover,
.adres_link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/* hero */
.hero {
    background: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero_but {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
    background: #4d5ae5;
    cursor: pointer;
    border-color: transparent;
}
.hero_but:hover,
.hero_but:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* benef */
.benef_title {
    display: none;
}
.benef_item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.benef_item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* team */
.team {
    background: #f4f4fd;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team_item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team_item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* portf */
.portf_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.portf_item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portf_item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */
footer {
    background: #2e2f42;
    color: #f4f4fd;
}
.foot .logo_link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo_foot {
    color: #f4f4fd;
}
.foot p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}