/* :root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
} */
body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    font-size: 18px;
    background-color: #fff;
    line-height: 1.5;
    text-decoration: none;
}

ul {
    list-style-type: none;
}
/* header */
.logo_accent {
    color: #4d5ae5;
}
.logo_link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}
/* .logo_link:hover,
.logo_link:focus {
    line-height: 1.16;
    letter-spacing: 0.03em;
} */
.nav_link {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 16px;
    /* color: #2e2f42; */
    text-decoration: none;
}
.nav_link:hover,
.nav_link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.adres_link {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    text-decoration: none;
}
.adres_link:hover,
.adres_link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}


/* hero */
.hero {
    background: #2e2f42;
}
.hero-title {
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 0.02em;
    /* text-align: center; */
    color: #fff;
}
.hero_but {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    border-color: transparent;
}
.hero_but:hover,
.hero_but:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* benef */
.benef_title {
    display: none;
}
.benef_item h3 {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* color: var(--navy-blue); */
}
.benef_item p {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* team */
.team {
    background: #f4f4fd;
}
.team-title {
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* text-align: center; */
    /* color: var(--navy-blue); */
}
.team_item h3 {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* text-align: center; */
    /* color: var(--navy-blue); */
}
.team_item p {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* text-align: center; */
    color: #434455;
}
/* portf */
.portf_title {
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* text-align: center; */
    /* color: var(--navy-blue); */
}
.portf_item h3 {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* color: var(--navy-blue); */
}
.portf_item p {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* footer */
.foot {
    background: #2e2f42;
}
.logof_link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}
/* .logof_link:hover,
.logof_link:focus {
    line-height: 1.16;
    letter-spacing: 0.03em;
} */

.foot p {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}