body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    font-size: 18px;
    background-color: #fff;
    line-height: 1.5;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* header */
.logo_accent {
    color: #4d5ae5;
}
.logo_link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}
.nav_link {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.nav_link:hover,
.nav_link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.adres_link {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    text-decoration: none;
}
.adres_link:hover,
.adres_link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}


/* hero */
.hero {
    background: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 0.02em;
    /* text-align: center; */
    color: #fff;
}
.hero_but {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    border-color: transparent;
}
.hero_but:hover,
.hero_but:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* benef */
.benef_title {
    display: none;
}


/* team */
.team {
    background: #f4f4fd;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* text-align: center; */
}

/* portf */
.portf_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* text-align: center; */
}

/* footer */
.foot {
    background: #2e2f42;
}
.foot .logo_link {
    color: #f4f4fd;
}
.foot p {
    color: #f4f4fd;
}